*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tutto nell'header */
header{
    height: 500px;
    background-color: blue;
}

nav{
    background-color: gray;
    height: 50px; 
    text-align: center;
    display: flex;
}

.section-nav{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
}

#logo{
    width: 20%;
}

#limks{
    width: 60%; 
}

#login{
    width: 20%;
    justify-self: flex-end;
}


a{
    text-decoration: none;
}

.header{
    background-color: pink;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 70%;
    height: 400px;
    margin: 20px auto ;
}

/* tutto per main */
.bianco{
    background-color: white;
    display: flex;
}

.grigio{
    background-color: grey;
}

.principale {
    width: 60%;
    background-color: aqua;
}

.sinistra{
    width: 40%;
    background-color: blanchedalmond;
}

.destra{
    width: 40%;
    background-color: bisque;
}

.finale{
    background-color: green;
}
